# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.       Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")     
from selenium.webdriver.common.by import By 
import time
from selenium.common.exceptions import  StaleElementReferenceException, NoSuchElementException

In [2]:
driver=webdriver.Chrome(r'chromedriver')
driver

In [3]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [4]:
rank=[]
name=[]
artist=[]
upload=[]
views=[]

In [5]:
try:
    rank_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
    for i in rank_tags:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('No Deatails')
    
    
try:
    name_tags= driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
    for i in name_tags:
        name.append(i.text)
        
except NoSuchElementException:
    name.append('No Details')
    
try:
    artist_tags= driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
    for i in artist_tags:
        artist.append(i.text)
except NoSuchElementException:
    artist.append('No Details')
    
try:
    upload_tags= driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')
    for i in upload_tags:
        upload.append(i.text)
        
except NoSuchElementException:
    upload.append('No Details')
try:
    views_tags= driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')
    for i in views_tags:
        views.append(i.text)
        
except NoSuchElementException:
    views.append('No Details')

In [6]:
print(len(rank),len(name),len(artist),len(upload),len(views))

30 30 30 30 30

In [7]:
df=pd.DataFrame({'Rank':rank,'Name':name,'Artist':artist,'Upload':upload,'Views In Billions':views})
df

,Rank,Name,Artist,Upload,Views In Billions
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.66
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.13
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.68
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",6.12
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.96
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.85
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.24
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,"May 24, 2018",5.10
8,9.,"""Uptown Funk""[25]",Mark Ronson,"November 19, 2014",4.88
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.87
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.75
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.55
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.31
13,14.,"""Axel F""[34]",Crazy Frog,"June 16, 2009",3.85
14,15.,"""Sugar""[35]",Maroon 5,"January 14, 2015",3.85
15,16.,"""Roar""[36]",Katy Perry,"September 5, 2013",3.77
16,17.,"""Counting Stars""[37]",OneRepublic,"May 31, 2013",3.76
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.65
18,19.,"""Baa Baa Black Sheep""[39]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.59
19,20.,"""Thinking Out Loud""[40]",Ed Sheeran,"October 7, 2014",3.58
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,"June 4, 2010",3.54
21,22.,"""Dark Horse""[42]",Katy Perry,"February 20, 2014",3.49
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.43
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.41
24,25.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.41
25,26.,"""Lakdi Ki Kathi""[46]",Jingle Toons,"June 14, 2018",3.40
26,27.,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.40
27,28.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.36
28,29.,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014",3.36
29,30.,"""Lean On""[50]",Major Lazer,"March 22, 2015",3.36

In [8]:
driver.close()

# 2. Scrape the details teamIndia’sinternationalfixtures from bcci.tv.
Url = https://www.bcci.tv/.

You need to find following details:
A) Match title (I.e. 1stODI)
B) Series
C) Place
D) Date
E) Time

#  no data in website

# 3. Scrape the details of State-wise GDP ofIndia fromstatisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)

In [3]:
driver=webdriver.Chrome(r'chromedriver')
driver

In [4]:
driver.get('https://www.statisticstimes.com/')

In [12]:
search=driver.find_element(By.XPATH,'//div[@class="navbar"]')
search.click()

In [13]:
find=driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/div/a[3]')
find.click()

In [14]:
find_gdp= driver.find_element(By.XPATH,'//ul[@style="list-style-type:none;margin-left:20px;"]/li[1]')
find_gdp.click()

In [24]:
rank=[]
state=[]
gdsp=[]
GSDP=[]
share=[]
gdp=[]

In [25]:
try:
    rank_tags=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
    for i in rank_tags:
        rank.append(i.text)
        
except NoSuchElementException:
    rank.append('No Details')
    
try:
    state_tags=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
    for i in state_tags:
        state.append(i.text)
        
except NoSuchElementException:
    state.append('No Details')
    
try:
    gdsp_tags=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
    for i in gdsp_tags:
        gdsp.append(i.text)
        
except NoSuchElementException:
    gdsp.append('No Details')
    
try:
    GSDP_tags= driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
    for i in GSDP_tags:
        GSDP.append(i.text)
        
except NoSuchElementException:
    GDSP.append('No Details')
    
try:
    share_tags=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
    for i in share_tags:
        share.append(i.text)
        
except NoSuchElementException:
    share.append('No Details')
    
try:
    gdp_tags=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
    for i in gdp_tags:
        gdp.append(i.text)
        
except NoSuchElementException:
    gdp.append('No Details')

In [26]:
print(len(rank),
len(state),
len(gdsp),
len(GSDP),
len(share),
len(gdp))

33 33 33 33 33 33

In [35]:
df=pd.DataFrame({'RANK':rank,'STATE':state,'GDSP 18-19':gdsp,'GDSP 19-20':GSDP,'SHARE':share,'GDP $ BILLION':gdp},index=rank)
df

   RANK                      STATE GDSP 18-19 GDSP 19-20   SHARE GDP $ BILLION
1     1                Maharashtra  2,632,792          -  13.94%       399.921
2     2                 Tamil Nadu  1,630,208  1,845,853   8.63%       247.629
3     3              Uttar Pradesh  1,584,764  1,687,818   8.39%       240.726
4     4                    Gujarat  1,502,899          -   7.96%       228.290
5     5                  Karnataka  1,493,127  1,631,977   7.91%       226.806
6     6                West Bengal  1,089,898  1,253,832   5.77%       165.556
7     7                  Rajasthan    942,586  1,020,989   4.99%       143.179
8     8             Andhra Pradesh    862,957    972,782   4.57%       131.083
9     9                  Telangana    861,031    969,604   4.56%       130.791
10   10             Madhya Pradesh    809,592    906,672   4.29%       122.977
11   11                     Kerala    781,653          -   4.14%       118.733
12   12                      Delhi    774,870    856,112   4.10%       117.703
13   13                    Haryana    734,163    831,610   3.89%       111.519
14   14                      Bihar    530,363    611,804   2.81%        80.562
15   15                     Punjab    526,376    574,760   2.79%        79.957
16   16                     Odisha    487,805    521,275   2.58%        74.098
17   17                      Assam    315,881          -   1.67%        47.982
18   18               Chhattisgarh    304,063    329,180   1.61%        46.187
19   19                  Jharkhand    297,204    328,598   1.57%        45.145
20   20                Uttarakhand    245,895          -   1.30%        37.351
21   21            Jammu & Kashmir    155,956          -   0.83%        23.690
22   22           Himachal Pradesh    153,845    165,472   0.81%        23.369
23   23                        Goa     73,170     80,449   0.39%        11.115
24   24                    Tripura     49,845     55,984   0.26%         7.571
25   25                 Chandigarh     42,114          -   0.22%         6.397
26   26                 Puducherry     34,433     38,253   0.18%         5.230
27   27                  Meghalaya     33,481     36,572   0.18%         5.086
28   28                     Sikkim     28,723     32,496   0.15%         4.363
29   29                    Manipur     27,870     31,790   0.15%         4.233
30   30                   Nagaland     27,283          -   0.14%         4.144
31   31          Arunachal Pradesh     24,603          -   0.13%         3.737
32   32                    Mizoram     22,287     26,503   0.12%         3.385
33   33  Andaman & Nicobar Islands          -          -       -             -

In [36]:
driver.close()

# 4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [28]:
driver=webdriver.Chrome(r'chromedriver')
driver

In [29]:
driver.get('https://github.com/')

In [30]:
search=driver.find_element(By.XPATH,'//li[3][@class="HeaderMenu-item position-relative flex-wrap flex-justify-between flex-items-center d-block d-lg-flex flex-lg-nowrap flex-lg-items-center js-details-container js-header-menu-item"]')
search.click()

In [31]:
find=driver.find_element(By.XPATH,'//ul[@aria-labelledby="open-source-repositories-heading"]/li[2]/a')
find.click()

In [62]:
title=[]
description=[]
contributors=[]
language=[]

In [63]:
try:
    title_tags=driver.find_elements(By.XPATH,'//article[@class="Box-row"]/h2')
    for i in title_tags:
        title.append(i.text)
        
except NoSuchElementException:
    title.append('No Details')
    
try:
    description_tags=driver.find_elements(By.XPATH,'//article[@class="Box-row"]/p')
    for i in description_tags:
        description.append(i.text)
        
except NoSuchElementException:
    description.append('No Details')
    
try:
    contributors_tags=driver.find_elements(By.XPATH,'//article[@class="Box-row"]/div[2]/span[2]')
    for i in contributors_tags:
        contributors.append(i.get_attribute('src'))
        
except NoSuchElementException:
    contributors.append('No Details')
    
try:
    lag_tags= driver.find_elements(By.XPATH,'//article[@class="Box-row"]/div[2]/span[1]')
    for i in lag_tags:
        language.append(i.text)
        
except NoSuchElementException:
    language.append('No Details')

In [66]:
print(len(title),len(description),len(contributors),len(language))

24 24 24 24

# promblem

In [70]:
df=pd.DataFrame({'Repository title':title,'Repository description':description,'Contributors count':contributors,'Language':language})
df

,Repository title,Repository description,Contributors count,Language
0,xtekky / gpt4free,"decentralising the Ai Industry, free gpt-4/3.5...",None,Python
1,mitsuhiko / rye,an experimental alternative to poetry/pip/pipe...,None,Rust
2,sindresorhus / awesome,😎 Awesome lists about all kinds of interesting...,None,Built by
3,Josh-XT / Agent-LLM,An Artificial Intelligence Automation Platform...,None,Python
4,whoiskatrin / chart-gpt,AI tool to build charts based on text input,None,TypeScript
5,Snaacky / dndserver,Dark and Darker private server implementation ...,None,Python
6,lvwzhen / law-cn-ai,⚖️ AI 法律助手,None,TypeScript
7,GreyDGL / PentestGPT,A GPT-empowered penetration testing tool,None,Python
8,BigBrotherTrade / trader,交易模块,None,Python
9,Dogtiti / AutoGPT-Next-Web,"🤖 Assemble, configure, and deploy autonomous A...",None,TypeScript
10,Developer-Y / cs-video-courses,List of Computer Science courses with video le...,None,Built by
11,roboflow / notebooks,Examples and tutorials on using SOTA computer ...,None,Jupyter Notebook
12,gmpetrov / databerry,The no-code platform for connecting custom dat...,None,TypeScript
13,GitSquared / edex-ui,"A cross-platform, customizable science fiction...",None,JavaScript
14,suno-ai / bark,🔊 Text-Prompted Generative Audio Model,None,Python
15,xtekky / chatgpt-clone,ChatGPT interface with better UI,None,Python
16,l15y / wenda,闻达：一个LLM调用平台。为小模型外挂知识库查找和设计自动执行动作，实现不亚于于大模型的生成能力,None,CSS
17,Eugeny / tabby,A terminal for a more modern age,None,TypeScript
18,isaiahbjork / Auto-GPT-MetaTrader-Plugin,The Open Source Ruby on Rails SaaS Template,None,Python
19,bullet-train-co / bullet_train,A chat app that transcribes audio in real-time...,None,Ruby
20,modal-labs / quillman,A collection of archived stuff from Twitter,None,JavaScript
21,bethylamine / twitter-archives,bloop is a fast code search engine written in ...,None,Built by
22,BloopAI / bloop,"Wechat robot based on ChatGPT, which using Ope...",None,TypeScript
23,zhayujie / chatgpt-on-wechat,Modular Auto-GPT Framework,None,Python

# 5. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [39]:
driver=webdriver.Chrome(r'chromedriver')
driver

In [43]:
driver.get('https://www.billboard.com/')

In [44]:
chart=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button')
chart.click()

In [45]:
search=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3')
search.click()

In [47]:
hot=driver.find_element(By.XPATH,'//div[@class="u-flex-grow-0 lrv-u-text-align-center"]/span')
hot.click()

In [24]:
song=[]
artist=[]
last_week=[]
peak_rank=[]
weeks=[]

In [25]:
try:
    song_tags=driver.find_elements(By.XPATH,'//LI[@class="lrv-u-width-100p"]/ul/li/h3')
    for i in song_tags:
        song.append(i.text)
        
except NoSuchElementException:
    song.append('No Details')
    

    
try:
    artist_tags=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
    for i in artist_tags:
        artist.append(i.text)
        
except NoSuchElementException:
    artist.append('No Details')
    
try:
    last_week_tags=driver.find_elements(By.XPATH,'//LI[@class="lrv-u-width-100p"]/ul/li[4]')
    for i in last_week_tags:
        last_week.append(i.text)
except NoSuchElementException:
    last_week.append('No Details')
    
try:
    peak_rank_tags=driver.find_elements(By.XPATH,'//LI[@class="lrv-u-width-100p"]/ul/li[5]')
    for i in peak_rank_tags:
        peak_rank.append(i.text)
except NoSuchElementException:
    peak_rank.append('No Details')
    
try:
    weeks_tags=driver.find_elements(By.XPATH,'//LI[@class="lrv-u-width-100p"]/ul/li[6]')
    for i in weeks_tags:
        weeks.append(i.text)
        
except NoSuchElementException:
    weeks.append('No Details')

In [26]:
print(len(song),
len(artist),
len(last_week),
len(peak_rank),
len(weeks))

100 100 100 100 100

In [29]:
df=pd.DataFrame({'SONG':song,'ARTIST':artist,'Last week rank':last_week,'Peak rank':peak_rank,'Weeks on board':weeks})
df

,SONG,ARTIST,Last week rank,Peak rank,Weeks on board
0,Kill Bill,SZA,4,1,19
1,Last Night,Morgan Wallen,1,1,12
2,Flowers,Miley Cyrus,3,1,14
3,Princess Diana,Ice Spice & Nicki Minaj,-,4,1
4,Ella Baila Sola,Eslabon Armado X Peso Pluma,10,5,5
...,...,...,...,...,...
95,Memory Lane,Old Dominion,96,96,3
96,Love Again,The Kid LAROI,88,40,12
97,'98 Braves,Morgan Wallen,100,27,7
98,Di Que Si,Grupo Marca Registrada X Grupo Frontera,-,99,1
99,It Matters To Her,Scotty McCreery,-,100,1

# 6. Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [2]:
driver=webdriver.Chrome(r'chromedriver')
driver

In [3]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [13]:
title=[]
author=[]
volume=[]
publisher=[]
genre=[]

In [14]:
try:
    title_tags=driver.find_elements(By.XPATH,'//td[2][@class="left"]')
    for i in title_tags:
        title.append(i.text)
        
except NoSuchElementException:
    title.append('-')
    
try:
    author_tags=driver.find_elements(By.XPATH,'//td[3][@class="left"]')
    for i in author_tags:
        author.append(i.text)
        
except NoSuchElementException:
    author.append('-')
    
try:
    volume_tags= driver.find_elements(By.XPATH,'//td[4][@class="left"]')
    for i in volume_tags:
        volume.append(i.text)
        
except NoSuchElementException:
    volume.append('-')
        
try:
    publisher_tags=driver.find_elements(By.XPATH,'//td[5][@class="left"]')
    for i in publisher_tags:
        publisher.append(i.text)
        
except NoSuchElementException:
    publisher.append('-')
    
try:
    genre_tags=driver.find_elements(By.XPATH,'//td[@class="last left"]')
    for i in genre_tags:
        genre.append(i.text)
        
except NoSuchElementException:
    genre.append('No Details')

In [15]:
print(len(title),len(author),len(volume),len(publisher),len(genre))

100 100 100 100 100

In [16]:
df=pd.DataFrame({'Book name':title,'Author name':author,'Volumes sold':volume,'Publisher':publisher,'Genre':genre})
df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [17]:
driver=webdriver.Chrome(r'chromedriver')
driver

In [18]:
driver.get('http://www.imdb.com/list/ls095964455/')

In [22]:
name=[]
year=[]
genre=[]
run_time=[]
rating=[]
vote=[]

In [23]:
try:
    name_tags=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
    for i in name_tags:
        name.append(i.text)
        
except NoSuchElementException:
    name.append('-')
    
try:
    year_tags=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
    for i in year_tags:
        year.append(i.text)
        
except NoSuchElementException:
    year.append('-')

try: 
    genre_tags=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[5]')
    for i in genre_tags:
        genre.append(i.text)
        
except NoSuchElementException:
    genre.append('-')
    
try:
    run_tags=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[3]')
    for i in run_tags:
        run_time.append(i.text)
        
except NoSuchElementException:
    run_time.append('-')
    
try:
    rating_tags=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]/div/span[2]')
    for i in rating_tags:
        rating.append(i.text)
        
except NoSuchElementException:
    rating.append('-')
    
try:
    vote_tags=driver.find_elements(By.XPATH,'//p[4][@class="text-muted text-small"]/span[2]')
    for i in vote_tags:
        vote.append(i.text)
        
except NoSuchElementException:
    vote.append('-')

In [24]:
print(len(name),len(year),len(genre),len(run_time),len(rating),len(vote))

100 100 100 100 100 100

In [ ]:
A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [26]:
df=pd.DataFrame({'NAME':name,'Year span':year,'Genre':genre,'Run time':run_time,'Rating':rating,'Votes':vote})
df

,NAME,Year span,Genre,Run time,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,153,623"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,235,638"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,023,049"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"301,066"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"260,001"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,398"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,440"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"206,843"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"42,941"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"256,476"

# 8. Details of Datasetsfrom UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:

A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [ ]:
driver=webdriver.Chrome(r'chromedriver')
driver

In [3]:
driver.get('https://archive.ics.uci.edu/ml/index.php')

In [7]:
search=driver.find_element(By.XPATH,'//td[@align="right"]/span[2]')
search.click()

In [23]:
name=[]
datatype=[]
task=[]
att_type=[]
instance=[]
attribute=[]
year=[]

In [24]:
try:
    name_tags= driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td/table/tbody/tr/td[2]/p')
    for i in name_tags:
        name.append(i.text)
        
except NoSuchElementException:
    name.append('-')
    
try:
    datatype_tags=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[2]/p')
    for i in datatype_tags:
        datatype.append(i.text)
        
except NoSuchElementException:
    datatype.append('-')
    
try:
    task_tags=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[3]/p')
    for i in task_tags:
        task.append(i.text)
        
except NoSuchElementException:
    task.append('-')
    
try:
    att_type_tags=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[4]/p')
    for i in att_type_tags:
        att_type.append(i.text)
               
except NoSuchElementException:
    att_type.append('-')
    
try:
    instance_tags=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[5]/p')
    for i in instance_tags:
        instance.append(i.text)
except NoSuchElementException:
    instance.append('-')
    
try:
    attribute_tags=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[6]/p')
    for i in attribute_tags:
        attribute.append(i.text)
except NoSuchElementException:
    attribute.append('-')
    
try:
    year_tags=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[7]/p')
    for i in year_tags:
        year.append(i.text)
        
except NoSuchElementException:
    year.append('-')

In [25]:
print(len(name),len(datatype),len(task),len(att_type),len(instance),len(attribute),len(year))

622 623 623 623 623 623 623

In [26]:
datatype=datatype[1:623]
task=task[1:623]
att_type=att_type[1:623]
instance=instance[1:623]
attribute=attribute[1:623]
year=year[1:623]

In [27]:
df=pd.DataFrame({'NAME':name,'DATATYPE':datatype,'TASK':task,'Attribute type':att_type,'INSTANCE':instance,'ATTRIBUTE':attribute,'YEAR':year})
df

,NAME,DATATYPE,TASK,Attribute type,INSTANCE,ATTRIBUTE,YEAR
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

# 9. Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details:
A) Name
B) Designation
C)Company
D)Skills they hire for
E) Location

In [3]:
driver=webdriver.Chrome(r'chromedriver')
driver

In [4]:
driver.get('https://www.naukri.com/hr-recruiters-consultants')

In [5]:
find=driver.find_element(By.CLASS_NAME,'sugInp')
find.send_keys('Data Science')

In [6]:
search=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
search.click()

In [21]:
name=[]
designation=[]
company=[]
skills=[]
location=[]

In [22]:
try:
    name_tags=driver.find_elements(By.XPATH,'//div[@class="vcard"]/p/a[1]')
    for i in name_tags[0:49]:
        name.append(i.text)
        
except NoSuchElementException:
    name.append('-')
    
try:
    designation_tags=driver.find_elements(By.XPATH,'//div[@class="vcard"]/p/span[1]')
    for i in designation_tags[0:49]:
        designation.append(i.text)
        
except NoSuchElementException:
    designation.append('-')
    
try:
    company_tags=driver.find_elements(By.XPATH,'//div[@class="vcard"]/p/a[2]')
    for i in company_tags[0:49]:
        company.append(i.text)
        
except NoSuchElementException:
    company.append('-')        
try:
    skills_tags=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
    for i in skills_tags[0:49]:
        skills.append(i.text)
        
except NoSuchElementException:
    skills.append('-')

try:
    location_tags=driver.find_elements(By.XPATH,'//div[@class="vcard"]/p/span[2]')
    for i in location_tags[0:49]:
        location.append(i.text)
        
except NoSuchElementException:
    location.append('-')

In [23]:
print(len(name),len(designation),len(company),len(skills),len(location))

49 49 49 49 49

In [24]:
df=pd.DataFrame({'NAME':name,'Designation':designation,'COMPANY':company,'SKILLS':skills,'LOCATION':location})
df

,NAME,Designation,COMPANY,SKILLS,LOCATION
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
14,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Deeparchi Sharma,Company Recruiter,ZIGRAM,"Research, Digital Marketing, Analytics, Softwa...",Gurgaon
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
32,Dhruv Dev Dubey,Company Recruitment Head,NETAPS FOUNDATION,"Server Administartion, Verilog, Vhdl, Digital ...",Noida
33,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,RMS Risk Management Solutions,"Data Science, Machine Learning, Deep Learning,...",Mysoru / Mysore
34,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
35,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Bengaluru / Bangalore
36,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
37,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
38,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
40,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
41,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
42,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
43,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
46,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
47,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
48,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai